In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('data.csv', nrows=200)

In [9]:
df.columns

Index(['# Timestamp', 'Type of mobile', 'MMSI', 'Latitude', 'Longitude',
       'Navigational status', 'ROT', 'SOG', 'COG', 'Heading', 'IMO',
       'Callsign', 'Name', 'Ship type', 'Cargo type', 'Width', 'Length',
       'Type of position fixing device', 'Draught', 'Destination', 'ETA',
       'Data source type', 'A', 'B', 'C', 'D'],
      dtype='object')

In [14]:
df = df.rename(columns=lambda x: x.lower().replace(' ', '_'))
df

,#_timestamp,type_of_mobile,mmsi,latitude,longitude,navigational_status,rot,sog,cog,heading,...,length,type_of_position_fixing_device,draught,destination,eta,data_source_type,a,b,c,d
0,01/05/2023 00:00:00,Base Station,2190064,56.7166,11.51910,Unknown value,NaN,NaN,NaN,NaN,...,NaN,GPS,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
1,01/05/2023 00:00:00,Class A,250006549,57.6578,11.01110,Under way using engine,0.0,12.0,135.5,132.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
2,01/05/2023 00:00:00,Class A,219340000,56.6968,8.21854,Under way using engine,NaN,0.0,300.4,NaN,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
3,01/05/2023 00:00:00,Class A,265012560,55.4109,12.93320,Under way using engine,0.0,0.0,265.4,337.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
4,01/05/2023 00:00:00,Class A,219019887,55.8648,10.54880,Under way using engine,0.0,0.0,8.0,8.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,01/05/2023 00:00:01,Class A,230175220,57.5924,9.95816,Under way using engine,NaN,0.0,345.0,NaN,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
196,01/05/2023 00:00:01,Class A,219016555,54.8760,11.02860,Under way using engine,0.0,0.0,249.0,249.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
197,01/05/2023 00:00:01,Class A,636015279,55.1730,13.79730,Under way using engine,0.0,7.1,97.4,98.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
198,01/05/2023 00:00:01,Class A,265009000,57.6807,11.30200,Restricted maneuverability,0.0,7.3,318.8,320.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
199,01/05/2023 00:00:01,Class A,219005826,56.8036,9.01996,Under way using engine,NaN,0.0,NaN,NaN,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN

## Connecting to the database

In [11]:
from pymongo import MongoClient

In [12]:
mongos1 = "mongodb://localhost:27019/"
mongos2 = "mongodb://localhost:27020/"

In [13]:
client = MongoClient(mongos1)
db = client["ships"]
collection = db["ship_positions"]

In [ ]:
def map_data(indices):
    data = df.iloc[indices]
    insert = data.to_dict()
    result = collection.insert_many(data)
    print("inserted ids:", result)